.initalFerris {
    width: 100%;
    background-color: #E4E3DF;
}
.ferrisPage {
    width: 100%;
    background-image: url("../assets/stockChecker.png");
    height: 100vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ferrisContainer {
    height: fit-content;
    margin: auto 20px auto 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 18px;
    opacity: 0; /* Initially hide the element */
    animation: fadeIn 1s ease forwards; /* Apply the fadeIn animation */
}

.ferrisLink {
    text-decoration: underline;
    color: black;
}

.ferrisContainer h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: Karla, sans-serif;
    color: black;
    text-align: center;
}
