footer {
    background-color: #D1D6DE;
    color: #000000;
    text-align: center;
    padding: 40px;
    width: 100%;
    font-family: Karla, sans-serif;
    font-size: 18px;
}

footer p {
    padding-top: 20px;
}

.footer-link {
    color: #BD1616;
    text-decoration: none;
    transition: 0.4s;
    font-family: Karla, sans-serif;
    font-size: 14px;
    padding: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
    color: #940d0d;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.social-icons-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.emailFooter {
    margin: auto;
    padding-top: 20px;
    width: 15%;
}
@media screen and (max-width: 784px) {
    .emailFooter {
        width:40%;
    }
}

