.projects {
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    width: 100%;
}
.projectsFilterHolder {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 20px 20px 0 20px;
}
.projectsFilterTag {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 0 5px 5px 5px;
    background-color: transparent;
    color: black;
    text-align: center;
    line-height: 1;
    transition: background-color 0.4s, color 0.4s;
    font-family: Karla, sans-serif;
    font-size: 16px;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
}
.projectsFilterTag:hover {
    background-color: black;
    color: white;
}
.projectsFilterTagActive {
    background-color: black;
    color: white;
}
.projectsHolder {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-top: 25px;
    justify-content: space-between;
    padding-bottom: 30px;
}

@media screen and (max-width: 784px) {
    .projectsHolder {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
    .projectsFilterHolder {
        width: 100%;
    }
}
.coming-soon-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.coming-soon-text-container {
    max-width: 400px;
    padding: 0 40px;
    margin: auto 0;
}

.capsule-image {
    height: 700px;
    width: auto;
}

.tarot-image {
    height: 700px;
    width: auto;
    padding: 20px;
}