.displayCardContainer {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.displayCardContainer img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 12px;
}

.displayCardText {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 12px;
}

.displayCardText:hover {
    opacity: 1;
    cursor: pointer;
}

.displayCardText h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 1rem;
    font-family: Karla, sans-serif;
}

.displayCardText p {
    color: white;
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: Karla, sans-serif;
}

.modalContainer h1 {
    color: black;
    font-size: 40px;
    padding: 5px;
    font-family: Karla, sans-serif;
    font-weight: 700;
}

.modalContainer p {
    color: black;
    font-size: 16px;
    padding: 5px;
    font-family: Karla, sans-serif;
    font-weight: 400;
}

.modalContainer h3 {
    color: black;
    font-size: 22px;
    padding: 5px;
    font-family: Karla, sans-serif;
    font-weight: 600;
}

.modalContainer a {
    color: black;
    font-size: 16px;
    padding: 0 5px;
    font-family: Karla, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    margin: 0;
    transition: 0.3s;
}

.modalContainer a:hover {
    color: var(--red);
}

.tagContainerModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 80%;
    padding-bottom: 20px;
}

@media screen and (max-width: 784px) {
    .displayCardText {
        opacity: 1;
        cursor: pointer;
    }
}

.iconHolder {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 20px 0 5px;
}

.iconHolder img {
    width: 30px;
    height: 30px;
}
