:root {
    --gray--linear: linear-gradient(to top, #caced7 0%, #eef1f5 100%);;
    --red: #BD1616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.app {
    background-color: rgb(236, 236, 236);
}

.wrapper {
    background-color: #F5F3F5;
    width: 96%;
    margin: 0 auto 50px;
    max-width: 140rem;
    box-shadow: 1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.kranky {
    font-family: 'Kranky', cursive;
}

.red {
    color: var(--red);
}

.primary-title {
    font-size: 3rem;
    font-weight: 600;
    padding: 80px 0 50px 50px;
    text-align: left;
    font-family: Karla, sans-serif;
}

